<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <title><%= title %></title>

</head>
<body>

</head>
<body>

<!-- Modal for amenities-->
<div id="amenitiesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Amenities Search</h4>
      </div>
      <div class="modal-body">
         <textarea id="textInputModal" style="font-size: 18px;" class="form-control" rows="2" id="comment"></textarea>
         <h4 id="autoCompleteHeader"> </h4>
      </div>
      <div class="modal-footer">
        <button id="submitModal" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<section class="module">
  <div class="container">
	<div class="row">
    <div class="col-lg-3 col-md-3">
      <a href="/" id="trullow">Trullow</a>
    </div>
		<div class="col-lg-4 col-md-4">
      <div class="search-form">
        <input type="text" id="place-input" name="city" placeholder="Search..." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
		</div>
    <div class="col-lg-5 col-md-5">
      <button id="submitWeather" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Weather
      </button>
      <button onclick="createSchoolsCtrl()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          School
      </button>
      <button onclick="createCrime()" id="showImage" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Crime
      </button>
      <button class="btn btn-primary " type="button" data-toggle="modal" data-target="#amenitiesModal">
        Amenities
      </button>
    </div>
	</div><!-- end row -->
  </div><!-- end container -->
</section>

<section class="subheader google-maps">
  <div id="map"></div>
  <div class="container">

    <div class="filter" id="showWeather">
      <div id="showTitle"></div>
      <div class="divider"></div>
      <div id="accordion">
          <h3 id="showday1"></h3>
          <div id="show1"></div>
          <h3 id="showday2"></h3>
          <div id="show2"></div>
          <h3 id="showday3"></h3>
          <div id="show3"></div>
          <h3 id="showday4"></h3>
          <div id="show4"></div>
      </div>
    </div><!-- end filter -->
    <div class="crime">
      <img class="img-responsive" src="images/crime.png" style="height: 500px" id="showCrime">
    </div>


  </div><!-- end container -->
</section>

<% include partials/footer.ejs %>

</body>
<script src="js/amenities.js"></script>
<script src="js/weather.js"></script>
<script src="js/school.js"></script>
<script src="js/map.js"></script>
<script>
$(document).ready(function(){
    var x = document.getElementById('showCrime');
    x.style.display = 'none';
    $("#showImage").click(function(){
      if (x.style.display === 'none') {
        x.style.display = '';
      } else {
          x.style.display = 'none';
      }
    })
});
</script>
</html>
