<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <title><%= title %></title>

    <!-- JavaScript file links -->
    <script src="js/weather.js"></script>
    <script src="js/map.js"></script>
</head>
<body>

<% include partials/header.ejs %>

<section class="module">
  <div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4">
      <div class="search-form">
        <input type="text" id="place-input" name="city" placeholder="Search..." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
		</div>
    <div class="col-lg-8 col-md-8">
      <button id="submitWeather" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Weather
      </button>
      <button onclick="createSchoolsCtrl()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          School
      </button>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Crime
      </button>
    </div>
	</div><!-- end row -->
  </div><!-- end container -->
</section>

<section class="subheader google-maps">
  <div id="map"></div>
  <div class="container">

    <div class="filter" id="showWeather">
      <div id="showTitle"></div>
      <div class="divider"></div>
      <div id="accordion">
          <h3 id="showday1"></h3>
          <div id="show1"></div>
          <h3 id="showday2"></h3>
          <div id="show2"></div>
          <h3 id="showday3"></h3>
          <div id="show3"></div>
          <h3 id="showday4"></h3>
          <div id="show4"></div>
      </div>
    </div><!-- end filter -->


  </div><!-- end container -->
</section>

<% include partials/footer.ejs %>
</body>
</html>
