<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Home - Neighborhood">
    <meta name="author" content="Thong Pham">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Home</title>

  <!-- CSS file links -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="fontawesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/slick.css" rel="stylesheet">
  <link href="css/chosen.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/responsive.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<header class="header-default">

  <div class="container">
    <!-- navbar header -->
    <div class="navbar-header">

      <a class="navbar-brand" href="index.html" id="trullow">Trullow</a>

    </div>

    <!-- main menu -->

  </div><!-- end container -->
</header>

<section class="module">
  <div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4">
      <div class="search-form">
        <input type="text" id="place-input" name="city" placeholder="Search..." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
		</div>
    <div class="col-lg-8 col-md-8">
      <button id="submitWeather" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Weather
      </button>
      <button onclick="createSchoolsCtrl()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          School
      </button>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Crime
      </button>
    </div>
	</div><!-- end row -->
  </div><!-- end container -->
</section>

<section class="subheader google-maps">
  <div id="map"></div>
  <div class="container">

    <div class="filter" id="showWeather">
      <div id="showTitle"></div>
      <div class="divider"></div>
      <div id="accordion">
          <h3 id="showday1"></h3>
          <div id="show1"></div>
          <h3 id="showday2"></h3>
          <div id="show2"></div>
          <h3 id="showday3"></h3>
          <div id="show3"></div>
          <h3 id="showday4"></h3>
          <div id="show4"></div>
      </div>
    </div><!-- end filter -->


  </div><!-- end container -->
</section>

<div class="bottom-bar">
    <div class="container">
    © 2017  | Desgined by ITC 2017 Team  |  All Rights Reserved
    </div>
</div>

<!-- JavaScript file links -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqb3fT3SbMSDMggMEK7fJOIkvamccLrjA&libraries=places,drawing&sensor=false"></script>
<script src="jquery/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/global.js"></script>
<script src="js/weather.js"></script>
<script src="js/map.js"></script>
</body>
</html>
