<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head.ejs %>
  <title><%= title %></title>

  <!-- JavaScript file links -->
  <script src="js/typed.min.js"></script>
</head>
<body>

<% include partials/header.ejs %>

<section class="subheader simple-search">
  <div class="container">
    <h1 class="typing"></h1>

    <div class="simple-search-form">
      <div class="tabs">
          <input type="text" id="pac-input" class="controls" placeholder="Enter an address..." />
          <input type="submit" value="GO" onClick="doAjaxRequest()" />
      </div>
    </div>

  </div><!-- end container -->
</section>

<% include partials/footer.ejs %>

<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
        var input = document.getElementById('pac-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            console.log(place);
            console.log(place.geometry['location'].lat());
            console.log(place.geometry['location'].lng());
            createCookie('location',$("#pac-input").val(),4);
            createCookie('lat',place.geometry['location'].lat(),4);
            createCookie('lng',place.geometry['location'].lng(),4);
            window.location.href = '/home';
        });
    }
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    $(document).ready(function(){
        $(".typing").typed({
          strings: ["Are you moving to a new place ?", "Check your new neighborhood"],
          typeSpeed: 30,
        });
    });
</script>
</body>
</html>
