#autocomplete{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding-top: 10;
    text-overflow: ellipsis;
    width: 300px;
}

#map{
    width: 100%;
    height: 100%;
    position: absolute;
}

#side_bar{
    display: none;
    width: 300px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: gray;
}

#ratings{
    position: fixed;
    bottom: 5px;
    font-weight: bold;
    color: #000;
}

#ratings .btn{
    background-color: #000;
    color: #fff;
}

#buttons {
    position: fixed;
    bottom: 80px;
    font-weight: bold;
    color: #000;
}

#buttons .btn{
    background-color: #000;
    color: #fff;
}

#places{
    font-weight: bold;
}